@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}

:root {
  --primary-color: hsl(220, 90%, 50%); /* Blue */
  --secondary-color: hsl(160, 90%, 40%); /* Green */
  --accent-color: hsl(35, 90%, 55%); /* Orange */
  --background-color: hsl(0, 0%, 98%); /* Light Gray */
  --text-color: hsl(0, 0%, 20%); /* Dark Gray */
  --color-red: hsl(0, 100%, 50%);
  --color-orange: hsl(30, 100%, 50%);
  --color-yellow: hsl(50, 100%, 50%);
  --color-lime: hsl(75, 100%, 50%);
  --color-green: hsl(120, 100%, 40%);
  --color-teal: hsl(160, 100%, 40%);
  --color-cyan: hsl(190, 100%, 50%);
  --color-blue: hsl(220, 100%, 50%);
  --color-indigo: hsl(250, 100%, 50%);
  --color-violet: hsl(280, 100%, 50%);
  --color-pink: hsl(320, 100%, 60%);
  --color-brown: hsl(20, 60%, 30%);
  --color-gray: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 10%);
}

body {
  background: var(--background-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}
.none {
  display: none;
}
.btn {
  padding: 0.7rem 1.5rem;
  background: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--background-color);

  a {
    color: var(--background-color);
    font-weight: 500;
  }

  a:hover {
    background: var(--color-blue);
  }
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--color-gray);
}

p {
  font-size: 13px;
  color: var(--color-gray);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--color-black);
}

h2 {
  font-family: 25px;
  padding: 1rem 0;
  color: var(--background-color);
}
