@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}

:root {
  --primary-color: hsl(220, 90%, 50%); /* Blue */
  --secondary-color: hsl(160, 90%, 40%); /* Green */
  --accent-color: hsl(35, 90%, 55%); /* Orange */
  --background-color: hsl(0, 0%, 98%); /* Light Gray */
  --text-color: hsl(0, 0%, 20%); /* Dark Gray */
  --color-red: hsl(0, 100%, 50%);
  --color-orange: hsl(30, 100%, 50%);
  --color-yellow: hsl(50, 100%, 50%);
  --color-lime: hsl(75, 100%, 50%);
  --color-green: hsl(120, 100%, 40%);
  --color-teal: hsl(160, 100%, 40%);
  --color-cyan: hsl(190, 100%, 50%);
  --color-blue: hsl(220, 100%, 50%);
  --color-indigo: hsl(250, 100%, 50%);
  --color-violet: hsl(280, 100%, 50%);
  --color-pink: hsl(320, 100%, 60%);
  --color-brown: hsl(20, 60%, 30%);
  --color-gray: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 10%);
  --transition: 0.4s ease-in-out;
}

body {
  background: var(--background-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}
.none {
  display: none;
}
.btn {
  padding: 0.7rem 1.5rem;
  background: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--background-color);

  a {
    color: var(--background-color);
    font-weight: 500;
  }

  a:hover {
    background: var(--color-blue);
  }
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var(--color-gray);
}

p {
  font-size: 13px;
  color: var(--color-gray);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--color-black);
}

h2 {
  font-family: 25px;
  padding: 1rem 0;
  color: var(--background-color);
}

.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;

  .navBarOne,
  .navBarTwo {
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .navBarOne {
    background: var(--secondary-color);

    .icon:hover {
      color: var(--primary-color);
    }

    .atb {
      gap: 1rem;

      span {
        color: var(--background-color);
        font-size: 11px;
        cursor: pointer;

        &:hover {
          color: var(--primary-color);
          font-size: 700;
        }
      }
    }
  }
  .navBarTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 3rem;
    padding: 1.5rem 1rem;
    position: fixed;
    transition: 0.3s ease-in-out;

    .logoDiv {
      .logo {
        width: 30%;
      }
    }

    @media screen and (max-width: 768px) {
      .navBarMenu {
        position: absolute;
        background: var(--secondary-color);
        padding: 1.5rem;
        border-radius: 10px;
        top: 5rem;
        right: -50%;
        width: 80%;
        transform: translateX(50%);
        z-index: 2000;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border: 3px solid var(--color-lime);
        transition: 0.4s ease-in-out;

        .menu {
          flex-direction: column;
          gap: 0.5rem;
          text-align: center;

          .listItem {
            padding: 0.5rem 0;
            cursor: pointer;
            color: var(--color-black);

            &:hover {
              color: var(--primary-color);
              font-weight: 700;
            }
          }
        }

        .btnOne {
          display: block;
          justify-content: center;
          margin: auto;
          margin-top: 1rem;
        }
      }
      .btnTwo {
        display: none;
      }
    }

    .toggleIcon {
      .icon {
        font-size: 30px;
        color: var(--color-black);
      }
    }
    .showNavBar {
      right: 50%;
      transition: 0.5s ease-in-out;
    }
  }
  .navBar_With_Bg {
    background: var(--secondary-color);
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;

  .mainText {
    color: var(--color-black);
    font-weight: 700;
    font-size: 15px;
    line-height: 2.5rem;
  }
  .homeImages {
    width: 100%;
    margin: 1rem auto 0;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5rem;

    .videoDiv {
      width: 80%;
      .video {
        border-radius: 10rem;
      }
    }

    .plane {
      position: absolute;
      width: 50%;
      top: 10%;
    }
  }
}

.search {
  .sectionContainer {
    width: 100%;
    padding: 1.5rem;
    border: 2px solid var(--color-gray);
    border-radius: 10px;
    row-gap: 2rem;

    .btns {
      background: var(--secondary-color);
      padding: 0.5rem;
      border-radius: 1rem;
      flex-direction: column;
      width: 100%;
      margin: auto;

      .singleBtn {
        padding: 0.8rem 1.5rem;
        font-size: 13px;
        width: 80%;
        text-align: center;

        &:hover {
          background: var(--primary-color);
          color: var(--background-color);
          font-weight: 500;
          transition: 0.4s ease;
          border-radius: 10px;
        }
      }

      .active {
        background: var(--primary-color);
        color: var(--background-color);
        font-weight: 500;
      }
    }
    .searchInputs {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;

      .singleInput {
        .iconDiv {
          padding: 16px 10px;
          border-radius: 3rem;
          background: var(--secondary-color);
          margin-right: 1rem;

          .icon {
            color: var(--color-black);
            opacity: 0.7;
          }
        }

        .texts {
          h4 {
            padding-top: 0;
            padding-bottom: 0.7rem;
            color: var(--color-black);
            font-weight: 700;
          }

          input {
            width: 95%;
            border: none;
            outline: none;
            background: transparent;

            &::placeholder {
              font-size: 12px;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

.support {
  .sectionContainer {
    .titlesDiv {
      text-align: center;
      small {
        letter-spacing: 0.8rem;
        text-transform: uppercase;
        font-size: 13px;
        color: var(--color-black);
        line-height: 1.5rem;
      }
    }

    .infoDiv {
      margin-top: 2rem;
      gap: 1.5rem;

      .textDiv {
        gap: 1.5rem;

        .singleInfo {
          .number {
            background: var(--primary-color);
            padding: 5px 12px;
            width: 40px;
            border-radius: 3rem;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            color: var(--background-color);
          }

          .colorOne {
            background: var(--color-orange);
          }

          .colorTwo {
            background: var(--color-green);
          }
        }
      }

      .imgDiv {
        margin: auto;
        img {
          width: 100%;
          max-width: 420px;
        }
      }
    }
  }
}

.info {
  background: var(--secondary-color);
  .infoContainer {
    .titlesDiv {
      flex-direction: column;
      text-align: center;
      gap: 1.5rem;
      justify-content: center;
    }

    .cardsDiv {
      gap: 1.5rem;
      margin-top: 3rem;

      .singleCard {
        background: var(--background-color);
        padding: 3rem 2rem;
        border-radius: 10rem;
        gap: 1rem;
        text-align: center;
        margin: auto;
        height: 320px;
        width: 90%;
        max-width: 250px;

        .iconDiv {
          justify-content: center;
          margin: auto;
          background: var(--primary-color);
          width: max-content;
          height: 55px;
          padding: 1rem;
          border-radius: 3rem;

          .icon {
            color: var(--background-color);
          }
        }

        .cardTitle {
          color: var(--color-black);
          font-weight: 700;
        }

        .colorOne {
          background-color: var(--color-orange);
        }

        .colorTwo {
          background-color: var(--color-green);
        }
      }
    }
  }
}

.lounge {
  .sectionContainer {
    gap: 1.5rem;

    .imgDiv {
      margin: auto;
      img {
        width: 300%;
        max-width: 430px;
      }
    }

    .textDiv {
      .grids {
        margin-top: 1rem;
        gap: 1.5rem;

        .singleGrid {
          .gridTitle {
            display: block;
            padding-bottom: 0.3rem;
            font-weight: 500;
            color: var(--color-black);
          }
        }
      }
    }
  }
}

.travelers {
  .sectionContainer {
    text-align: center;

    .travelersContainer {
      margin-top: 1rem;
      gap: 1.5rem;

      .singleTraveler {
        position: relative;
        height: 200px;
        width: 85%;
        max-width: 250px;
        overflow: hidden;
        border-radius: 10rem;
        gap: 1rem;
        margin: auto;

        .destinationImage,
        .travelerImage,
        .travelerName {
          position: absolute;
        }

        .destinationImage {
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          object-fit: cover;
        }

        .travelerImage {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          border: 5px solid rgba(225, 225, 225, 0.637);
          transition: var(--transition);
          animation: animated 2.3s infinite;
        }

        @keyframes animated {
          0% {
            transform: translateY(0px);
          }
          50% {
            transform: translateY(8px);
          }
          100% {
            transform: translateY(0px);
          }
        }

        .travelerName {
          bottom: 0;
          width: 100%;
          height: max-content;
          background: var(--background-color);
          padding: 1.5rem 1rem;
          transition: var(--transition);
          animation: animatedBorders 2.3s infinite;

          span {
            display: block;
            color: black;
            font-weight: 700;
          }

          p {
            color: var(--primary-color);
            font-style: italic;
          }
        }

        @keyframes animatedBorders {
          0% {
            border-radius: 0rem;
          }
          50% {
            border-radius: 2rem;
          }
          100% {
            border-radius: 0rem;
          }
        }
      }
    }
  }
}
